#app {
    font-family: Tahoma, sans-serif;
    font-size: 1.1em;
}

.todo-view {
    float: left;
    width: 500px;
}

/*.todos div {
    padding: 3px 0px 3px;
}*/

.todos .complete {
    text-decoration: line-through;
}

.todos .item-selected {
    background-color: #00ff00;
}

.todos .item-above {
  background-color: #F2FFF2;
  border-top: 3px solid #00ff00;
  padding-top: 2px;
}

.todos .item-below {
  background-color: #F2FFF2;
  padding-bottom: 2px;
  border-bottom: 3px solid #00ff00;
}

.todos .filters li.active {
	font-weight: bold;
}

.todos ul.filters {
    list-style-type: none;
    padding: 0px;
}

.todos .filters li {
	display: inline-block;
	padding: 0px 5px;
	text-transform: capitalize;
}

.howto {
    font-size: 0.8em;
    /*display: none;*/
}

.todos .all-items {
  margin-left: -20px;
}

.todos .all-items .items {
  padding-left: 20px;
}

.item {
  padding: 5px 5px 5px 12px;
}

.icon-empty {
  display: inline-block;
  width: 20px;
  height: 16px;
}

.icon-open {
  display: inline-block;
  background: url("../img/32px.png") no-repeat -34px -7px;
  width: 20px;
  height: 16px;
  cursor: pointer;
}

.icon-closed {
  display: inline-block;
  background: url("../img/32px.png") no-repeat -2px -7px;
  width: 20px;
  height: 16px;
  cursor: pointer;
}
